<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
"Hey {{name}}, you have lived on this planet for {{x}} days, {{message}}"
</body>
</html>